
	<style th:replace="common/admin/head_admin"></style>
	<div th:replace="common/admin/content_first_admin"></div>
	<div th:replace="common/admin/content_body_admin"></div>
	<div th:replace="common/admin/content_footer_admin"></div>
	<script>
	var title=ducument.getElemenById("subtitle");
	title.innerHTML="Product menagement";
	
	// Define a function to handle right-click events
	function disableRightClick(event) {
	    // Check if the event is a right-click
	    if (event.button == 2) {
	        // Prevent the default right-click behavior
	        event.preventDefault();
	        // Optionally, you can display a custom message or perform other actions
	        // alert("Right-clicking is disabled on this website.");
	        // You can also redirect the user to another page
	        window.location.href = "http://localhost:8080/admin";
	    }
	}

	// Add an event listener to the document to listen for right-click events
	document.addEventListener('contextmenu', disableRightClick);
	</script>