
<style th:replace="common/admin/head_admin"></style>
<div th:replace="common/admin/content_first_admin"></div>

<div class="container mt-5">
	
	<!-- row -->
	<div class="row tm-content-row" 
             						th:object="${userReg}">
          <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
              <h2 class="tm-block-title">Change Avatar</h2>
              <div class="tm-avatar-container">
                <img
                  src="img/avatar.png"
                  alt="Avatar"
                  class="tm-avatar img-fluid mb-4"
                />
                <a href="#" class="tm-avatar-delete-link">
                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                </a>
              </div>
              <button class="btn btn-primary btn-block text-uppercase">
                Upload New Photo
              </button>
            </div>
          </div>
          <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">Account Settings</h2>
              <form action="" class="tm-signup-form row"
              	role="form"
              	method="post"
                th:action="@{/register/save}"
              >
                <div class="form-group col-lg-6">
                  <label for="name">Account Name</label>
                  <input th:field="*{FullName}"
                    id="name"
                    name="name"
                    type="text"
                    class="form-control validate"
                  />
                </div>
					<div class="form-group col-lg-6">
						<label for="username">Username</label> <input
							th:field="*{Username}" id="username" name="username" type="text"
							class="form-control validate" />
					</div>
					<div class="form-group col-lg-6">
                  <label for="email">Account Email</label>
                  <input th:field="*{Email}"
                    id="email"
                    name="email"
                    type="email"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password">Password</label>
                  <input th:field="*{Password}"
                    id="password"
                    name="password"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password2">Re-enter Password</label>
                  <input 
                    id="password2"
                    name="password2"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">Phone</label>
                  <input th:field="*{Phone}"
                    id="phone"
                    name="phone"
                    type="tel"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">		
            		<label>Role : </label>
                    <select >
                        <option th:each="p : ${listRole}" th:value="${p}" th:text="${p}"></option>
                    </select>
        		</div>
        		<div class="form-group col-lg-6">
        			<label for="newsletter">Newsletter</label>
            		<input id="newsletter" type="checkbox" name="newsletter" th:checked="*{Newsletter}" />
            		
        		</div>
        		<div class="form-group col-lg-6">
                  <label for="phone">Address</label>
                  <input th:field="*{Address}"
                    id="phone"
                    name="phone"
                    type="tel"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  
                </div>
                <div class="form-group col-lg-6">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Cancel
                  </button>
                </div>
                <div class="form-group col-lg-6">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Update Your Profile
                  </button>
                </div>
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Create Your Account
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>
<div th:replace="common/admin/content_footer_admin"></div>
<script>
		document.title = "Account Management";
	</script>