<!DOCTYPE html>
<!-- Mở thẻ html và khai báo ngôn ngữ là zxx (tiêu chuẩn không biết ngôn ngữ) -->
<html class="no-js" lang="zxx">
<head>
<!-- Mở thẻ head -->

<!-- Thiết lập bộ ký tự UTF-8 và tương thích với IE -->
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<!-- Đặt tiêu đề của trang -->
<title>Shop</title>
<!-- Mô tả trang -->
<meta name="description" content />
<!-- Thiết lập viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Đường dẫn đến favicon -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/client_assets/img/icon/favicon.png}">

<!-- Đường dẫn đến các file CSS -->
<link rel="stylesheet" th:href="@{/client_assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/client_assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/flaticon.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/price_rangs.css}">
<link rel="stylesheet"
	th:href="@{/client_assets/css/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/client_assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/slick.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/client_assets/css/style.css}">
<!-- Đường dẫn đến font Montserrat -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">

<!-- Đường dẫn đến các file CSS khác -->
<link type="text/css" rel="stylesheet"
	th:href="@{/clic/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/clic/css/slick.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/clic/css/slick-theme.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/clic/css/nouislider.min.css}" />
<link rel="stylesheet" th:href="@{/clic/css/font-awesome.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/clic/css/style.css}" />

<!-- CSS tùy chỉnh -->
<style>
/* Chỉnh màu nền cho header */
header {
	background-color: #f8f9fa; /* Chọn màu nền phù hợp */
	padding: 20px 0; /* Tăng khoảng cách giữa header và nội dung */
}

/* Chỉnh màu và font chữ cho tiêu đề sản phẩm */
.product-name p {
	color: #333; /* Chọn màu chữ phù hợp */
	font-size: 16px; /* Đặt kích thước font chữ */
	font-weight: bold; /* Đặt đậm cho font chữ */
}

/* Chỉnh màu và font chữ cho giá sản phẩm */
.price {
	color: #ff6f61; /* Chọn màu chữ phù hợp */
	font-weight: bold; /* Đặt đậm cho font chữ */
}

/* Chỉnh màu và font chữ cho nút mua hàng */
.btn-black {
	background-color: #000; /* Chọn màu nền cho nút */
	color: #fff; /* Chọn màu chữ phù hợp */
	font-weight: bold; /* Đặt đậm cho font chữ */
}

/* Chỉnh khoảng cách và font chữ cho các phần modal */
.modal-body, .modal-footer {
	padding: 20px; /* Tăng khoảng cách giữa nội dung và viền modal */
	text-align: center; /* Căn giữa nội dung trong modal */
}

.modal-title {
	color: #333; /* Chọn màu chữ phù hợp */
	font-size: 20px; /* Đặt kích thước font chữ */
	font-weight: bold; /* Đặt đậm cho font chữ */
}

/* Chỉnh màu và font chữ cho nội dung thông báo modal */
#quantityExceedErrorMessage {
	color: #ff6f61; /* Chọn màu chữ phù hợp */
	font-weight: bold; /* Đặt đậm cho font chữ */
}
/* CSS cho nút button trong phần DELETE */
.delete-btn button {
    background-color: #dc3545; /* Màu đỏ */
    color: #fff; /* Màu chữ trắng */
    border: none; /* Xóa viền */
    padding: 5px 10px; /* Khoảng cách giữa nội dung và viền */
    border-radius: 5px; /* Bo tròn viền */
    cursor: pointer; /* Đổi con trỏ khi di chuyển vào nút */
}

.delete-btn button:hover {
    background-color: #c82333; /* Màu đỏ khi hover */
}

</style>

</head>
<body>
	<!-- Bắt đầu thẻ body -->

	<header>
		<!-- Header của trang -->

		<!-- Dòng comment cho phần SEARCH BAR -->
		<!-- Bắt đầu SEARCH BAR -->

		<!-- /ACCOUNT -->
	</header>
	<!-- /HEADER -->
	<main>
		<!-- Phần chính của trang -->

		<!-- Hero area -->
		<!-- Phần hero của trang -->
		<div class="hero-area section-bg2">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="slider-area">
							<div
								class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
								<div class="hero-caption hero-caption2">
									<h2>Cart</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Phần giỏ hàng -->
		<section class="cart_area">
			<!-- Phần hiển thị giỏ hàng -->
			<div class="container">
				<div class="cart_inner">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<!-- Tiêu đề bảng -->
								<tr>
									<!-- Cột tên sản phẩm -->
									<th scope="col">Product</th>
									<!-- Cột giá -->
									<th scope="col">Price</th>
									<!-- Cột số lượng -->
									<th scope="col">Quanlity</th>
									<!-- Cột thành tiền -->
									<th scope="col">Total</th>

								</tr>
							</thead>
							<!-- Dữ liệu của bảng -->
							<tbody th:each="cart : ${carts}">
								<!-- Dòng dữ liệu của sản phẩm -->
								<tr>
									<!-- Cột tên sản phẩm -->
									<td class="product-name">
										<p th:text="${cart.productName}"></p>
									</td>
									<!-- Cột giá -->
									<td class="price"
										th:text="${#numbers.formatDecimal(cart.price, 0, 'POINT', 0, 'COMMA') + ' VND'}">
									</td>
									<!-- Cột số lượng -->
									<td><input aria-describedby="button-addon1"
										aria-label="Example text with button addon"
										class="form-control text-center quantity-amount"
										placeholder="" th:value="${cart.quantity}" type="text"
										name="soLuong"
										style="width: 60px; margin: 0 5px; text-align: center; margin-top: 30px; margin-right: 50px; margin-bottom: 30px" />
									</td>

									<!-- Cột thành tiền -->
									<td>
										<!-- Hiển thị tổng giá của sản phẩm (số lượng * giá) -->
										<h5 class="thanhtien"
											th:text="${#numbers.formatDecimal(cart.TotalPrice, 0, 'POINT', 0, 'COMMA') + ' VND'}"></h5>
									</td>

									<!-- Trong mỗi hàng dữ liệu của bảng -->
									<td>
										<!-- Nút Xóa -->
									<td>
										<!-- Thêm nút button và màu đỏ --> <a
										th:href="@{/cart/delete/{id} (id = ${cart.CartID})}"
										class="delete-btn">
											<button>Delete</button>
									</a>
									</td>

									<!-- <button class="btn btn-danger"
											onclick="removeItem('${cart.ProductId}')">Xóa</button> -->
									</td>

									<script>
										function removeItem(productId) {
											// Lấy danh sách giỏ hàng từ Local Storage
											var cartItems = JSON
													.parse(localStorage
															.getItem('cartItems'));

											// Loại bỏ sản phẩm có productId tương ứng khỏi danh sách giỏ hàng
											var updatedCartItems = cartItems
													.filter(function(item) {
														return item.productId !== productId;
													});

											// Lưu lại danh sách giỏ hàng mới vào Local Storage
											localStorage
													.setItem(
															'cartItems',
															JSON
																	.stringify(updatedCartItems));

											// Cập nhật hiển thị giỏ hàng (ví dụ: reload lại trang hoặc sử dụng AJAX để cập nhật nội dung giỏ hàng)
											location.reload(); // Ví dụ: Reload lại trang sau khi xóa sản phẩm
										}
									</script>

									<!-- Hàm JavaScript xử lý xóa sản phẩm -->
									<script>
										function removeItem(productId) {
											// Xóa sản phẩm khỏi giỏ hàng (ở phía client)
											var cartItems = JSON
													.parse(localStorage
															.getItem('cartItems'));
											var updatedCartItems = cartItems
													.filter(function(item) {
														return item.productId !== productId;
													});
											localStorage
													.setItem(
															'cartItems',
															JSON
																	.stringify(updatedCartItems));

											// Cập nhật hiển thị giỏ hàng
											// Code cập nhật hiển thị giỏ hàng của bạn ở đây, có thể reload lại trang hoặc sử dụng AJAX để cập nhật nội dung của giỏ hàng mà không cần reload trang.
										}
									</script>

								</tr>
							</tbody>

						</table>
						<!-- Nút tiếp tục mua hàng -->
						<div class="checkout_btn_inner float-right">
							<a class="btn" th:href="@{/products}">Continue Shopping</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Phần thanh toán -->
			<br> <br> <br>
			<div class="col-md-6 pl-5" style="margin-left: 330px;">
				<div class="row justify-content-end">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<!-- Nút mua hàng -->
								<button class="btn btn-black btn-lg py-3 btn-block"
									onclick="checkOut()">Checkout</button>

								<!-- Modal thông báo -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel1" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel1">Announcement</h5>
												<button type="button" class="close" data-bs-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">Please select at least one item to continue.</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>

								<!-- Modal lỗi vượt quá số lượng -->
								<div class="modal fade" id="quantityExceedErrorModal"
									tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel2" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel2">Quantity error</h5>
												<button type="button" class="close" data-bs-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p id="quantityExceedErrorMessage">The number of products in the cart is exceeding the inventory quantity.</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</main>

	<!-- Script thư viện -->
	<script th:src="@{/client_assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<script th:src="@{/client_assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/client_assets/js/popper.min.js}"></script>
	<script th:src="@{/client_assets/js/bootstrap.min.js}"></script>

	<script th:src="@{/client_assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{/client_assets/js/slick.min.js}"></script>
	<script th:src="@{/client_assets/js/jquery.slicknav.min.js}"></script>

	<script th:src="@{/client_assets/js/wow.min.js}"></script>
	<script th:src="@{/client_assets/js/jquery.magnific-popup.js}"></script>
	<script th:src="@{/client_assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/client_assets/js/jquery.counterup.min.js}"></script>
	<script th:src="@{/client_assets/js/waypoints.min.js}"></script>
	<script th:src="@{/client_assets/js/price_rangs.js}"></script>

	<script th:src="@{/client_assets/js/contact.js}"></script>
	<script th:src="@{/client_assets/js/jquery.form.js}"></script>
	<script th:src="@{/client_assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{/client_assets/js/mail-script.js}"></script>
	<script th:src="@{/client_assets/js/jquery.ajaxchimp.min.js}"></script>

	<script th:src="@{/client_assets/js/plugins.js}"></script>
	<script th:src="@{/client_assets/js/main.js}"></script>
	<script>
		function checkOut() {
			window.location.href = "http://localhost:8080/checkout";
		}
	</script>
	<!-- Script Google Analytics -->
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag("js", new Date());

		gtag("config", "UA-23581568-13");
	</script>
	<!-- Script Cloudflare Beacon -->
	<script defer
		src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
		integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
		data-cf-beacon='{"rayId":"84261ac02d5d079f","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
		crossorigin="anonymous"></script>
</body>
<!-- Kết thúc thẻ body -->
</html>
<!-- Kết thúc trang HTML -->


