<style th:replace="/common/client/head_tag"></style>
<div th:replace="/common/client/content_head"></div>
	

<main>
    <div class="hero-area section-bg2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-area">
                        <div
                                class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center"
                        >
                            <div class="hero-caption hero-caption2">
                                <h2>Checkout</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="checkout_area">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>

                        <div class="col-md-6 form-group p_star">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="first"
                                    name="name"
                                    th:value="${session.fullName}"                                    
                            >
                            </input>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="number"
                                    name="number"
                                    th:value="${session.phone}"
                                    
                            />
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    th:value="${session.email}"
                                    
                            />
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">Product<span>Total</span> </a>
                                </li>
                                <li th:each="cart : ${carts}">
                                    <a href="#">
                                        <span th:text="${cart.productName}"></span>
                                        <span class="middle">x <span th:text="${cart.quantity}"></span></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list list_2">
                                <li id="totalContainer">
                                    <a>Total <span id="totalText" >[[${total}]]</span></a>
                                </li>
                            </ul>
						<form id="checkout_form" >
						<button class="btn w-100" id="pay-btn">Thanh toán
                                <script th:inline="javascript">
                                    var totalValue = /*[[${total}]]*/ null;
                                </script>
                            </button>
						</form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<div id="back-top">
    <a class="wrapper" title="Go to Top" href="#">
        <div class="arrows-container">
            <div class="arrow arrow-one"></div>
            <div class="arrow arrow-two"></div>
        </div>
    </a>
</div>
<div th:replace="/common/client/content_footer"></div>
<script th:src="@{/client_assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<script th:src="@{/client_assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/client_assets/js/popper.min.js}"></script>
<script th:src="@{/client_assets/js/bootstrap.min.js}"></script>

<script th:src="@{/client_assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/client_assets/js/slick.min.js}"></script>
<script th:src="@{/client_assets/js/jquery.slicknav.min.js}"></script>

<script th:src="@{/client_assets/js/wow.min.js}"></script>
<script th:src="@{/client_assets/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/client_assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/client_assets/js/waypoints.min.js}"></script>
<script th:src="@{/client_assets/js/price_rangs.js}"></script>

<script th:src="@{/client_assets/js/contact.js}"></script>
<script th:src="@{/client_assets/js/jquery.form.js}"></script>
<script th:src="@{/client_assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/client_assets/js/mail-script.js}"></script>
<script th:src="@{/client_assets/js/jquery.ajaxchimp.min.js}"></script>

<script th:src="@{/client_assets/js/plugins.js}"></script>
<script th:src="@{/client_assets/js/main.js}"></script>
<script th:src="@{/client_assets/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/client_assets/js/axios.min.js}"></script>

<script
        async
        src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag("js", new Date());

    gtag("config", "UA-23581568-13");
</script>
<script
        defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"84261bbc3a85079f","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#checkout_form").submit(function (e) {
        e.preventDefault(); // Ngăn chặn gửi form mặc định
        createOrderAndRedirect();
    });
});

function createOrderAndRedirect() {
    var formData = {
        "OrderStatus": 1,
        "Created_Date": "11-5-2024",
        "payment": "128483",
        // Thêm các trường dữ liệu từ form vào đây
    };

    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/create-order", // Chỉnh sửa đường dẫn nếu cần
        data: JSON.stringify(formData),
        dataType: 'json',
        success: function (response) {
            redirectToPaymentPage();
        },
        error: function (e) {
            console.log("Error creating order: " + e);
        }
    });
}

// Hàm chuyển hướng đến trang thanh toán
function redirectToPaymentPage() {
    $.ajax({
        type: "GET",
        url: "/api/payment/create_payment", // Chỉnh sửa đường dẫn nếu cần
        success: function (response) {
            console.log("Redirecting to payment page");
            window.location.href = response;
        },
        error: function (e) {
            console.log("Error redirecting to payment page: " + e);
        }
    });
}


</script>

<script>
	var title=ducument.getElemenById("subtitle");
	title.innerHTML="Check out";
	</script>
