<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org/thymeleaf-extras-layout"
    layout:decorate="~{client/indexclient}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style th:replace="/common/client/head_tag"></style>
</head>
<body>
    <header  th:replace="common/client/conten_first"></header>
    <div layout:fragment="content" style="text-align: center;">
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <input type="text"  value="Username" name="userName" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'userName';}"/><br>
            <input type="password"  value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"/>
            <div class="remember">
             <span class="checkbox1">
                   <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>
             </span>
             <div class="forgot">
                 <h6><a href="#">Forgot Password?</a></h6>
             </div>
            <div class="clear"> </div>
          </div>
            <input type="submit" value="Login"></form>
       
    </div>
    <footer   th:replace="common/client/conten_footer"></footer>
</body>
</html>
