<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Categories</title>
</head>
<body>
	<div th:switch="${categories}">
		<h2 th:case="null">No category yet!</h2>
		<div th:case="*">
			<h2>Categories</h2>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categories}">
						<td th:text="${category.idcategories}"></td>
						<td th:text="${category.name_categories}"></td>
						<td><a th:href="@{/edit/{id}(id=${category.idcategories})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${category.idcategories})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><a href="/adnew">Add a new category</a></p>
	</div>

</body>
</html>